<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- core -->
        <mapping resource="hbm/core/CategoryResource.hbm.xml"/>
        <mapping resource="hbm/core/CodespaceResource.hbm.xml"/>
        <mapping resource="hbm/core/FeatureResource.hbm.xml"/>
        <mapping resource="hbm/core/FormatResource.hbm.xml"/>
        <mapping resource="hbm/core/OfferingResource.hbm.xml"/>
        <mapping resource="hbm/core/ParameterResource.hbm.xml"/>
        <mapping resource="hbm/core/PhenomenonResource.hbm.xml"/>
        <mapping resource="hbm/core/PlatformResource.hbm.xml"/>
        <mapping resource="hbm/core/ProcedureHistoryResource.hbm.xml"/>
        <mapping resource="hbm/core/ProcedureResource.hbm.xml"/>
        <mapping resource="hbm/core/RelatedFeatureResource.hbm.xml"/>
        <mapping resource="hbm/core/RelatedFeatureRoleResource.hbm.xml"/>
        <mapping resource="hbm/core/ResultTemplateResource.hbm.xml"/>
        <mapping resource="hbm/core/ServiceResource.hbm.xml"/>
        <mapping resource="hbm/core/UnitResource.hbm.xml"/>
        <!-- dataset -->
        <mapping resource="hbm/dataset/DataResource.hbm.xml"/>
        <mapping resource="hbm/dataset/DatasetResource.hbm.xml"/>
        <mapping resource="hbm/dataset/RelatedDataResource.hbm.xml"/>
        <mapping resource="hbm/dataset/RelatedDatasetResource.hbm.xml"/>
        <mapping resource="hbm/dataset/SamplingGeometryResource.hbm.xml"/>
    </session-factory>
</hibernate-configuration>